#include <zephyr/dt-bindings/gpio/arduino-header-r3.h>

/ {
	aliases {
		giftui-ads7846 = &giftui_ads7846;
		giftui-ili9486 = &giftui_ili9486;
	};
};

&arduino_spi {
	status = "okay";
	cs-gpios = <&arduino_header ARDUINO_HEADER_R3_D10 GPIO_ACTIVE_LOW>,
		     <&arduino_header ARDUINO_HEADER_R3_D7 GPIO_ACTIVE_LOW>;

	giftui_ili9486: display@0 {
		compatible = "giftui,ili9486";
		reg = <0>;
		spi-max-frequency = <4000000>;
		dc-gpios = <&arduino_header ARDUINO_HEADER_R3_D9 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&arduino_header ARDUINO_HEADER_R3_D8 GPIO_ACTIVE_LOW>;
	};

	giftui_ads7846: touch@1 {
		compatible = "giftui,ads7846";
		reg = <1>;
		spi-max-frequency = <2000000>;
		penirq-gpios = <&arduino_header ARDUINO_HEADER_R3_D6 GPIO_ACTIVE_LOW>;
	};
};
